html, body {
  margin: 0;
  padding: 0;
  background-color: #898cae;
  font-family: 'Muli', 
  sans-serif;
  color: #fff;
  font-size: 18px;
}

h1 {
  margin: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #898cae;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

a #link {
  color: #000;
}

.jumbotron {
  color: #000;
  padding: 3rem 2rem;
  margin: 0;
}

.page {
  margin: 50px auto 0 auto;
}

#socials {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

.fa {
  padding: 0.7rem;
  font-size: 1.5rem !important;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.fa:hover {
  opacity: 0.7;
}

.card {
  background-color: rgba(255, 255, 255, 0.5); 
  color: #000;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #898cae;
  border-color: #fff;
}

.icons { 
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  background-size: 100%; 
}

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #fff;
  border: 4px solid #c0b6b6;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #ffffff80;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff80;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #ffffff80;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff80 transparent transparent;
}

.right::after {
  left: -10px;
}

.content {
  padding: 10px 20px;
  background-color: #ffffff80;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 120%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #ffffff80;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff80 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 20px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #384580;
  width: 0%;
}

.post {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
  background-color: #ffffff80;
  border-radius: 6px;
  overflow-wrap: break-word;
}
